{{#partial "content"}}
    {{#if ratings}}
        {{#each ratings as |r|}}
            <div class="col-md-6 align-items-center rounded-3 border shadow-lg">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">{{r.driver_name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Rating:{{r.review}}</h6>
                        <p class="card-text">Comment:{{r.comment}}</p>
                        <a href="/rating/create" class="card-link">Create Review</a>
                    </div>
                </div>
                <br>
            </div>
            <br>
        {{/each}}
    {{else}}
        No rating
    {{/if}}

{{/partial}}

{{> layout.hbs}}