{{#partial "content"}}

    <h1>Review list!</h1>

    {{#if ratings}} <!--if posts exist, then -->
    {{#each ratings }} <!--loop-->
    <p>Current Review:</p>
    <p>{{ name.driver_name }}</p> <!--show-->
    <p>{{ comment }}</p> <!--show-->
    <p>{{ review }}</p> <!--show-->

    {{/each}}
    {{else}} <!--no posts!-->
    <p>No Review</p>
    {{/if}}

{{/partial}}

{{> layout.hbs}}