{{#partial "title"}}Go Drive | Home{{/partial}}

{{#partial "content"}}

    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">Request a ride now</h1><br>
            <p class="lead">Good things happen when people can move, whether across town or toward their dreams. Opportunities appear, open up, become reality. What started as a way to tap a button to get a ride has led to billions of moments of human connection as people around the world go all kinds of places in all kinds of ways with the help of our technology.</p>
            <br><br>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <a href="/user/request" type="button" class="btn btn-success btn-lg px-4 me-md-2 fw-bold">Request Ride</a>
                <a href="/ratings" type="button" class="btn btn-outline-secondary btn-lg px-4">View Ratings</a>
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img class="rounded-lg-3" src="images/car.jpg" alt="car" height="auto" width="100%">
        </div>
    </div>
{{/partial}}

{{>layout.hbs}}