{{#partial "title"}}
    GoDrive | Added
{{/partial}}

{{#partial "content"}}
    <div class="alert alert-success" role="alert">
        Location {{location}} has been added successfully
    </div>

{{/partial}}

{{> layout.hbs}}