

{{#partial "content"}}


    <h1>Give a review of The journey</h1>


    <form action="/rating/create/new" method="post" id="image">

        <label>Driver</label>
        <select class="form-control" name="RatingSelected">
            {{#each Ratings }}
                <option value="{{id}}"> {{name}} </option>
            {{/each}}
        </select>
        <br>
        <br>
        <div class="form-group">
            <label for="comment">comment</label>
            <input id="comment" name="comment" type="text" class="form-control">
        </div>
        <br>
        <br>
        <div class="form-group">
            <label for="review">A 1 to 10  review</label>
            <input id="review" name="review" type="text" class="form-control">
        </div>

        <br>
        <br>
        <button type="submit" class="btn btn-success btn-lg px-4 me-md-2 fw-bold">Submit</button>
    </form>

{{/partial}}

{{> layout.hbs}}