

{{#partial "content"}}


    <h1>Give a review of The journey</h1>


    <form action="/rating/create/new" method="post" id="image">

        <label>Driver</label>
        <select class="form-control" name="RatingSelected" required>
            {{#if drivers}}
                {{#each drivers as |d|}}
                    <option  name="driver_name" >{{d.driver_name}}</option>
                {{/each}}
            {{/if}}
        </select>
        <br>
        <br>
        <div class="form-group">
            <label for="comment">comment</label>
            <input id="comment" name="comment" type="text" class="form-control" required>
        </div>
        <br>
        <br>
        <div class="form-group">

            <label for="customRange3" class="form-label">Rate</label>
            <div class="range">
                <input id="review" name="review" type="range" class="form-range" min="0" max="5" step="1" id="customRange3" required/>
            </div>

        </div>

        <br>
        <br>
        <button type="submit" class="btn btn-success btn-lg px-4 me-md-2 fw-bold">Submit</button>
    </form>

{{/partial}}

{{> layout.hbs}}