{{#partial "title"}}GoDrive | Requested{{/partial}}

{{#partial "content"}}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Ride requested</h4>
        <p>We appreciate you using our services. Your driver will get back in touch with you soon!</p>
        <hr>
        <p class="mb-0"><a href="/rating/create" class="alert-link">Kindly rate the journey and comments on where we can improve</a>. Give it a click if you have a review.</p>
    </div>
{{/partial}}

{{> layout.hbs}}